<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<p id="notice"><%= notice %></p>

<h1>These Details</h1>

<div class="row">
  <div class="col-xs-6">
    <p>
      <h3>Title:</h3>
      <%= @favorite_thesis.title %>
    </p>

    <p>
      <h3>Type:</h3>
      <%= @favorite_thesis.ttype %>
    </p>

    <p>
      <h3>Institution:</h3>
      <%= @favorite_thesis.institution %>
    </p>

  <p>
    <i><%= link_to "Check out the official website",@favorite_thesis.url %></i>
  </p>

  </div>
</div>

</br>

<%= link_to 'Back to favorite thesis', favorite_theses_path , class: "btn btn-lg btn-default"%>
</html>