<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<p id="notice"><%= notice %></p>

<h1>Favorite Projects</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to "Title", :sort => "title" %></th>
      <th>Form</th>
      <th><%= link_to "Created", :sort => "created_at" %></th>
      <th>Details</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_projects.each do |favorite_project| %>
      <tr>
        <td><%= favorite_project.title %></td>
        <td><%= favorite_project.form %></td>
        <td><%= favorite_project.created_at %></td>
        <td><%= link_to 'Show', favorite_project %></td>
        <td><%= link_to 'Destroy', favorite_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", favorites_path, class: "btn btn-lg btn-default"%>
</html>